<h3>Latest activities of <%= @user.username %></h3>

<ul class='nav nav-tabs'>
  <li class='<%= 'active' if params[:tab].nil? || params[:tab] == 'posts' %>'>
    <%= link_to "Posts (#{@user.posts.size})", user_path(@user, tab: 'posts') %>
  </li>
  <li class='<%= 'active' if params[:tab] == 'comments' %>'>
    <%= link_to "Comments (#{@user.comments.size})", user_path(@user, tab: 'comments') %>
  </li>
</ul>

<% if params[:tab].nil? || params[:tab] == 'posts'  %>
  <%= render 'posts/post_list', posts: @user.posts %>
<% elsif params[:tab] == 'comments' %>
  <%= render 'comments/comment_list', comments: @user.comments %>
<% end %>

  


