<div class='votes well span0'>
  <% if current_user %>
    <!-- Up-vote icon -->
    <% if vote_status(current_user, obj) == true %>
      <%= link_to vote_post_comment_path(obj.post, obj), method: 'delete', remote: true do %>
        <i class='fa fa-thumbs-o-up up-vote' id='comment_<%= obj.id %>_upvote'></i>
      <% end %>
    <% else %>
      <%= link_to vote_post_comment_path(obj.post, obj, vote: true), method: 'post', remote: true do %>
        <i class='fa fa-thumbs-o-up no-vote' id='comment_<%= obj.id %>_upvote'></i>
      <% end %>
    <% end %>

    <p><span id='comment_<%= obj.id %>_votes'><%= vote_count(obj) %></span></p>

    <!-- Down-vote icon -->
    <% if vote_status(current_user, obj) == false %>
      <%= link_to vote_post_comment_path(obj.post, obj), method: 'delete', remote: true do %>
        <i class='fa fa-thumbs-o-down down-vote' id='comment_<%= obj.id %>_downvote'></i>
      <% end %>
    <% else %>
      <%= link_to vote_post_comment_path(obj.post, obj, vote: false), method: 'post', remote: true do %>
        <i class='fa fa-thumbs-o-down no-vote' id='comment_<%= obj.id %>_downvote'></i>
      <% end %>
    <% end %>

  <% else %>
    <%= link_to '<i class="fa fa-thumbs-o-up no-vote"></i>'.html_safe, login_path %>
    <p><%= vote_count(obj) %></p>
    <%= link_to '<i class="fa fa-thumbs-o-down no-vote"></i>'.html_safe, login_path %>

  <% end %>
</div>
