<div class='votes well span0'>
  <% if current_user %>
    <!-- Up-vote icon -->
    <% if obj.vote_status(current_user) == true %>
      <%= link_to vote_post_path(obj), method: 'delete', remote: true do %>
        <i class='fa fa-thumbs-o-up up-vote' id='post_<%= obj.slug %>_upvote'></i>
      <% end %>
    <% else %>
      <%= link_to vote_post_path(obj, vote: true), method: 'post', remote: true do %>
        <i class='fa fa-thumbs-o-up no-vote' id='post_<%= obj.slug %>_upvote'></i>
      <% end %>
    <% end %>

    <p><span id='post_<%= obj.slug %>_votes'><%= obj.vote_count %></span></p>

    <!-- Down-vote icon -->
    <% if obj.vote_status(current_user) == false %>
      <%= link_to vote_post_path(obj), method: 'delete', remote: true do %>
        <i class='fa fa-thumbs-o-down down-vote' id='post_<%= obj.slug %>_downvote'></i>
      <% end %>
    <% else %>
      <%= link_to vote_post_path(obj, vote: false), method: 'post', remote: true do %>
        <i class='fa fa-thumbs-o-down no-vote' id='post_<%= obj.slug %>_downvote'></i>
      <% end %>
    <% end %>

  <% else %>
    <%= link_to '<i class="fa fa-thumbs-o-up no-vote"></i>'.html_safe, login_path %>
    <p><%= vote_count(obj) %></p>
    <%= link_to '<i class="fa fa-thumbs-o-down no-vote"></i>'.html_safe, login_path %>

  <% end %>
</div>
