<%= render 'posts/post_title_categories', post: @post %>
<h5>Posted by <%= @post.creator.username %></h5>
<p><%= @post.description %></p>
<p><%= link_to 'Back', posts_path %> | <%= link_to 'Edit', edit_post_path(@post) %></p>

<%= render 'shared/error_msg', obj: @comment %>
<h5>What do you think of this post?</h5>
<%= form_for [@post, @comment] do |f| %>
  <%= f.text_area :body %>
  <br />
  <%= f.submit "Add Comment" %>
<% end %>

<h5>Comments:</h5>
<%= render 'comments/comment_list', obj: @post.comments %>

