<%= render 'category_badges', post: @post %>
<h3><%= link_to @post.title, @post.url %></h3>
<h4>By <%= @post.creator.username %></h4>
<p><%= @post.description %></p>
<p><%= link_to 'Back', posts_path %> | <%= link_to 'Edit', edit_post_path %></p>

<% @post.comments.each do |comment| %>
  <div class="well">
    <em><%= comment.body %></em>
    <br>
    <span class='quiet'>by</span>
    <%= link_to "#{comment.creator.username}", user_path(comment.creator) %>
    <small> at <%= comment.created_at %></small>
  </div>
<% end %>

