<%= render 'post_title_categories', post: @post %>
<h5>By <%= @post.creator.username %></h5>
<p><%= @post.description %></p>
<p><%= link_to 'Back', posts_path %> | <%= link_to 'Edit', edit_post_path %></p>

<%= form_for @comment do |f| %>
  <%= f.label "Add a comment" %>
  <%= f.text_area :body %>
  <%= f.submit %>
<% end %>

<% @post.comments.each do |comment| %>
  <div class="well">
    <em><%= comment.body %></em>
    <br>
    <span class='quiet'>by</span>
    <%= link_to "#{comment.creator.username}", user_path(comment.creator) %>
    <small> at <%= comment.created_at %></small>
  </div>
<% end %>

