<h3>Create new category</h3>

<%= render 'shared/error_msg', obj: @category %>

<%= form_for @category do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />
  <%= f.submit %>
<% end %>